.hero {
    margin-top: 1rem;
}

.hero__banner {
    width: 100%;
    height: 65rem;
    border-radius: 2rem;
}


.hero__content-text {
    text-align: center;
    text-transform: capitalize;
    font-size: 4rem;
    color: var(--bg);
    letter-spacing: .3rem;
    font-family: var(--font-bold);
}

@media (min-width : 576px) {
    .hero__content-text {
        font-size: 6rem;
    }
}