.cart-item {
  border-bottom: 2px solid rgb(172, 172, 172);
  padding: 0 0 1.5rem;
  position: relative;
  border-radius: 1rem 1rem 0 0;
  overflow: hidden;
  margin-top: 1rem;
}

.cart-item__wrapper {
  display: grid;
  grid-template-columns: 7.5rem 1fr;
  align-items: center;
  column-gap: 1rem;
}

.cart-item__banner {
  display: flex;
  align-items: center;
  overflow: hidden;
  gap: 1rem;
}

.cart-item__img {
  width: 100%;
  height: 10rem;
  object-fit: contain;
}

.cart-item-options {
}

.cart-item-option__title {
  font-size: 1.4rem;
  font-family: var(--font-medium);
  color: var(--text-1);
}

.cart-item-option__title--desktop {
  display: none;
}

.cart-item-option__title--mobile {
  display: block;
}

.cart-item-option__price {
  font-family: var(--font-semibold);
  font-size: 1.7rem;
  color: var(--text-1);
  position: relative;
}

.cart-item-option__final-price--none {
  display: none;
}

.cart-item-option__quantity {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.cart-item-option__quantity span {
  font-family: var(--font-semibold);
  font-size: 1.8rem;
  color: var(--primary);
  border-radius: 50%;
}

.cart-item-option__btn {
  border: 50%;
  border: 0;
  outline: 0;
  font-size: 1.6rem;
  color: var(--text-1);
  cursor: pointer;
}

.cart-item-option__remove button {
  border: 0;
  outline: 0;
  font-size: 2rem;
  color: brown;
  padding: 0.3rem;
  border-radius: 1rem 1rem 1rem 50%;
  position: absolute;
  cursor: pointer;
  bottom: 1.3rem;
  right: 1rem;
}

@media (min-width: 576px) {
  .cart-item__wrapper {
    grid-template-columns: 1fr 1fr;
    padding-right: 0.5;
  }

  .cart-item-option__title--desktop {
    display: block;
    font-size: 1.7rem;
  }

  .cart-item-option__title--mobile {
    display: none;
  }

  .cart-item-options {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr auto;
  }

  .cart-item__img {
    width: 100%;
    max-width: 7rem;
  }

  .cart-item-option__remove button {
    position: static;
    background-color: transparent;
    color: brown;
  }

  .cart-item__wrapper {
    gap: 0;
  }
}

@media (min-width: 768px) {
  .cart-item-option__final-price--none {
    display: block;
  }
}
